.back::before {
    content: "";
    position: absolute;
    bottom: 100%;
    right: 16%;
    border-left: 0.4rem solid transparent;
    border-right: 0.4rem solid transparent;
    border-bottom: 0.5rem solid #ffffff;
}
.back {
    position: absolute;
    right: 0;
    top: 120%;
    background-color: #ffffff;
    border-radius:0.4rem;
    z-index: 1;
}
.editBox {
    display: flex;
    flex-direction: column;
    text-wrap: nowrap;
    gap: 0.5rem;
    padding: 0.5rem;
    caret-color: transparent;
}
.del {
    padding: 0.3rem;
    color: var(--main);
    cursor: pointer;
}
.del:hover {
    color: var(--green);
}