.section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.totalAccountBox {

}
/* @@@ 년도 확인 영역 START @@@*/
.monthBox {
    display: flex;
    font-size: 1.5rem;
    font-weight: bold;
}

/* @@@ 년도 확인 영역 END @@@*/

/* --------------------------------- */

/* @@@ 지출 수입 확인 영역 START @@@*/
.allCount {
    display: flex;
    flex-direction: column;
    align-items: start;
    font-size: 2rem;
}

/* @@@ 지출 수입 확인 영역 END @@@*/

/* --------------------------------- */

/* @@@ 사용 내역 영역 START @@@*/
.moneyHistoryBox {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.dayBox {
    display: flex;
    padding-left: 1rem;
    gap: .5rem;
    font-size: 1.3rem;
    border-bottom: .1rem solid gray;
}
.useList {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.useItem {
    padding: 1rem 1rem;
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
}

/* @@@ 사용 내역 영역 END @@@*/