a {
}
.questionList {
    display: flex;
    flex-wrap: wrap;
}
.questionItem {
    flex: 50%;
}
.linkItem {
    pointer-events: none;
}
.title {

}
.text {

}
.nameBox {

}
.Author {

}
.comment {

}
