/* @@@ 상단 검색 START @@@*/

.top {
    display: flex;
    position: sticky;
    top: 0;
    justify-content: center;
    padding: 1rem;
    z-index: 1;
}

.search {
    color: var(--main);
    padding: 0.8rem;
}
.createQuestion {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    padding: 0.5rem;
    color: var(--green);;
    font-weight: bold;
}

/* @@@ 상단 검색 END @@@*/

/* ------------------------ */

.questionList {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    overflow: hidden; /* 슬라이드 효과를 위해 추가 */
    position: relative;
    justify-content: space-between;
    transition: transform 0.5s ease-in-out; /* 부드러운 이동 효과 */
}

.questionItem {
    flex: 0 0 45%; /* 고정 너비로 설정 */
    max-width: 45%;
    border-radius: .5rem;
    border: solid .15rem #ffffff;
    overflow: hidden;
}

.linkItem {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0.2rem 0 0.2rem 0.4rem;
    white-space: nowrap;
    text-align: left;
}

.title {
    font-size: 1rem;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
}

.text {
    font-size: 0.8rem;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
}

.nameBox {
    display: flex;
    width: 100%;
    align-items: baseline;
    font-size: .6rem;
}

.Author {
    text-overflow: ellipsis;
    overflow: hidden;
    margin-right: 1rem;
    min-width: 65%;
    max-width: 65%;
}

.comment {
    position: relative;
    overflow: hidden;
    padding-left: 1.1rem;
    width: fit-content;
    max-width: 1.9rem;
    letter-spacing: 0.1rem;
}

.comment::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: url(../img/message.svg);
    background-position: left;
    background-repeat: no-repeat;
}
/* @@@ 질문리스트 END @@@ */

/* ----------------------- */

/* @@@ 화살표 START @@@ */
.arrowBox {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 10;
    caret-color: transparent;
}

.arrow {
    width: 3.5rem;
    height: 3.5rem;
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;
    border: solid .1rem #ffffff50;
    border-radius: 1.75rem;
    backdrop-filter: blur(0.2rem);
    pointer-events: all; /* 클릭 가능 */
    cursor: pointer;
}

.left {
    background-image: url(../img/arrow.svg);
    transform: rotate(180deg);
}

.right {
    background-image: url(../img/arrow.svg);
}

/* @@@ 화살표 END @@@ */

/* @@@ 페이지 네이션 START @@@ */
.pageNation {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    margin-top: -1.5rem;
}

.page {
    width: .6rem;
    height: .6rem;
    border-radius: 50%;
    background-color: gray;
    cursor: pointer;
    transition: background-color 0.3s ease;
    z-index: 10;
}

.page:hover {
    background-color: #efffce
}

.curPage {
    background-color: var(--green);
}

/* @@@ 페이지 네이션 END @@@ */