/* @@@ 로그인 START @@@*/

.title {
    font-size: 2rem;
    padding-bottom: 1.5rem;
}

.google {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.5rem;
    font-size: 1.3rem;
    font-weight: bold;
    gap: .3rem;
    cursor: pointer;
}
.or {
    position: relative;
    padding: .5rem 0;
}
.or::before {
    content: "";
    position: absolute;
    background-color: gray;
    top: 48%;
    left: 10%;
    right: 57%;
    bottom: 48%;
}
.or::after {
    content: "";
    position: absolute;
    background-color: gray;
    top: 48%;
    left: 57%;
    right: 10%;
    bottom: 48%;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.id {
    width: 100%;
    height: 3.5rem;
    padding: 1rem 1rem;
    border-radius: 1rem;
    color: #2c2d2b;
}
.pw {
    width: 100%;
    height: 3.5rem;
    padding: 1rem 1rem;
    border-radius: 1rem;
    color: #2c2d2b;
}
.loginBtn {
    width: 100%;
    height: 3.5rem;
    padding: 1rem;
    padding-top: 0.9rem;
    background-color: var(--green);;
    color: #2c2d2b;
    border-radius: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
}
.loginBtn:focus {
    box-shadow: inset 0.1rem 0.1rem 0.2rem 0rem #00000050
}
.loginBtn:active {
    box-shadow: inset 0.1rem 0.1rem 0.2rem 0rem #00000050
}

.goSignUp {
    margin-top: 1rem;
    display: inline-block;
    padding: 0.2rem;
}
.goSignUp:hover {
    text-decoration: underline 0.7rem;
}

/* @@@ 로그인 END @@@*/

/* -------------------- */
