.section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
/* @@@ 뉴스 검색 영역 START @@@ */
.search {
    padding: .5rem 1rem;
    border-radius: 1rem;
}
/* @@@ 뉴스 검색 영역 END @@@ */

/* ---------------------------- */

/* @@@ 뉴스 리스트 START @@@ */
.newsList {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
.newsItem {
    flex: 30%;
}
/* @@@ 뉴스 리스트 END @@@ */