#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  height: 100vh;
  width: 100vw;
}
.m0 {
  margin: 0;
}
.logo {
  font-weight: bold;
  font-size: 1.5em;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1em;
  position: sticky;
  top: 0;
  border-bottom: .1em solid black;
}
nav {
  display: flex;
  align-items: center;
  gap: 1em;
}
footer {
  border-top: .1em solid black;
}
.border {
  border: solid 0.1em black;
  border-radius: 1em
}
