:root {
  font-family: "Noto Sans KR", serif;
  font-optical-sizing: auto;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --green: #c7f860;
  --main: #2c2d2b;
}

a {
  font-weight: 500;
  text-decoration: inherit;
  color: inherit;
}
button {
  border: 0;
  background-color: inherit;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--main);
  background-image: url(./assets/img/background.jpg);
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  color: #ffffff;
  box-sizing: border-box;
  border: none;
}